<!DOCTYPE html>
<html lang="ja" xmlns:th="http://thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>受講生登録</title>
</head>
<body>
<h1>受講生登録</h1>
<form th:action="@{/registerStudent}" th:object="${studentDetail}" method="post">
  <div>
    <label for="fullName">氏名</label>
    <input type="text" id="fullName" th:field="*{student.fullName}" required/>
    <br>
    <label for="kanaName">フリガナ</label>
    <input type="text" id="kanaName" th:field="*{student.kanaName}" required/>
    <br>
    <label for="nickname">ニックネーム</label>
    <input type="text" id="nickname" th:field="*{student.nickname}">
    <br>
    <label for="age">年齢</label>
    <input type="number" id="age" th:field="*{student.age}" required/>
    <br>
    性別を選択してください
    <label for="gender_male">
      <input type="radio" id="gender_male" value="男性" th:field="*{student.gender}" required/>
      男性
    </label>
    <label for="gender_female">
      <input type="radio" id="gender_female" value="女性" th:field="*{student.gender}">
      女性
    </label>
    <label for="gender_no_answer">
      <input type="radio" id="gender_no_answer" value="回答しない" th:field="*{student.gender}">
      回答しない
    </label>
    <br>
    <label for="email">メールアドレス</label>
    <input type="text" id="email" th:field="*{student.email}" required/>
    <br>
    <label for="address">居住エリア</label>
    <input type="text" id="address" th:field="*{student.address}" required/>
  </div>
<br>
  <div>
    受講するコースを選択してください
    <br>
    <input type="checkbox" id="aws_full" th:field="*{selectedCourseNames}" value="AWSフル">
    <label for="aws_full">AWSフルコース</label>
    <br>
    <input type="checkbox" id="java_full" th:field="*{selectedCourseNames}" value="Javaフル">
    <label for="java_full">Javaフルコース</label>
    <br>
    <input type="checkbox" id="design" th:field="*{selectedCourseNames}" value="デザイン">
    <label for="design">デザインコース</label>
    <br>
    <input type="checkbox" id="web_marketing" th:field="*{selectedCourseNames}" value="Webマーケティング">
    <label for="web_marketing">Webマーケティングコース</label>
    <br>
    <input type="checkbox" id="word_press" th:field="*{selectedCourseNames}" value="WordPress副業">
    <label for="word_press">WordPress副業コース</label>
    <br>
    <input type="checkbox" id="tenshoku_quest" th:field="*{selectedCourseNames}" value="転職クエスト">
    <label for="tenshoku_quest">転職クエスト</label>
    <br>
    <input type="checkbox" id="fuk-ly" th:field="*{selectedCourseNames}" value="フクリー">
    <label for="fuk-ly">フクリー</label>
  </div>
<br>
  <div>
    <label for="remark">備考</label>
    <br>
    <textarea id="remark" th:field="*{student.remark}" rows="4" cols="40"></textarea>
  </div>
<br>
  <div>
    <button type="submit">登録</button>
  </div>
</form>
</body>
</html>
